@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(this.HttpContext).RequestToken;
    }
}
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form action="/mfa" method="post" id="register">
            <input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
            <div class="mb-3">
                <label for="username" class="form-label">Email address</label>
                <input class="form-control" required id="username" aria-describedby="emailHelp">
                <input type="hidden" id="BasePath" name="BasePath" value="@Url.Content("~")">
                <div id="emailHelp" class="form-text">Enter username</div>
            </div>
            <div class="mb-3">
                <label for="displayName" class="form-label">Display name</label>
                <input class="form-control" required id="displayName">
            </div>

            <div>
                <div class="control">
                    <button class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/helpers.js"></script>
<script src="~/js/instant.js"></script>
<script src="~/js/passwordless.register.js"></script>
